{% extends "base.html" %}

    {% block content %}
    
    <h1>Shop</h1>
    <p> Novi proizvodi</p>
<div class="sve">
    <div class="card">
        <img src="/static/img/niketshirt.webp" style="width: 200px; height: 220px;">
        <b><h3>Nike baggy t-shirt</h3></b>
        <p class="price">30$</p>
        <p><button>Dodaj u košaricu</button></p>
    </div>
    
    <div class="card">
        <img src="/static/img/pantss.jpg" style="width: 200px; height: 220px;">
        <b><h3>Nike baggy pants</h3></b>
        <p class="price">80$</p>
        <p><button>Dodaj u košaricu</button></p>
    </div>
    
    <div class="card">
        <img src="/static/img/nikehh.jpg" style="width: 200px; height: 220px;">
        <b><h3>Nike baggy hoodie</h3></b>
        <p class="price">60$</p>
        <p><button>Dodaj u košaricu</button></p>
    </div>
</div>

{% endblock content %}